<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cloud Park</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
    <div class="menu">
      <a [routerLink]="['/operacao']">Operação</a>
      <a [routerLink]="['/cliente']">Clientes</a>
      <a [routerLink]="['/veiculo']">Veículos</a>
      <a [routerLink]="['/cliente']">Planos</a>
      <a [routerLink]="['/cliente']">Contrato</a>
    </div>
  </mat-toolbar>
</p>

<router-outlet />
