<div class="container-main">
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div class="form-row">
      <mat-form-field appearance="outline">
          <mat-label>Descrição</mat-label>
          <input matInput type="text" formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Valor máximo</mat-label>
          <input matInput formControlName="max_value">
      </mat-form-field>
    </div>
    <div class="form-row"><span style="font-size: 1.1em; padding-top: 15px; padding-bottom: 8px;">Regras do contrato</span></div>
    <div class="form-row" style="padding-bottom: 15px;">
      <table class="custom-table" [cellSpacing]="0">
        <tr>
          <th style="width: 15%;">ID</th>
          <th style="width: 40%;">Até (minutos)</th>
          <th style="width: 45%;">Valor</th>
          <th style="width: 45%;">Ação</th>
        </tr>
        <tr *ngFor="let rule of this.form.value.contract_rules">
          <td style="width: 15%;">{{rule.id}}</td>
          <td style="width: 30%;">{{rule.until}}</td>
          <td style="width: 35%;">{{rule.value?.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}}</td>
          <td style="width: 20%;">
            <button mat-icon-button color="primary" (click)="deleteRule(rule)">
              <mat-icon [ngStyle]="{'color': 'rgb(150, 100, 110)'}">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="form-row">
      <form [formGroup]="formRule" (ngSubmit)="onFormRuleSubmit()" style="margin: 0px; height: 100px;">
        <div class="form-row" style="padding-bottom: 40px;">
          <mat-form-field appearance="outline">
            <mat-label>Até (minutos)</mat-label>
            <input matInput formControlName="until">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="value">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" style="height: 56px; max-width: 200px;">Adicionar regra</button>
        </div>
      </form>
    </div>
    <div mat-dialog-actions class="action" style="float: right;">
      <button mat-raised-button type="button" (click)="this.cancelEditForm()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">{{id ? 'Atualizar': 'Cadastrar'}}</button>
    </div>
  </form>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let row"> {{row.description}}</td>
      </ng-container>

      <ng-container matColumnDef="max_value">
        <th mat-header-cell *matHeaderCellDef>Valor máximo</th>
        <td mat-cell *matCellDef="let row"> {{row.max_value}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="fillEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Nenhum dado foi encontrado</td>
      </tr>
    </table>

    <mat-paginator [hidePageSize]="true" [pageSize]="10"></mat-paginator>
  </div>
</div>
